<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.balaginjo.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Product1_Activity" />
        <activity android:name=".Product2_Activity" />
        <activity android:name=".ShoppingCarActivity" />
        <activity android:name=".StoreInformationActivity" />
        <activity android:name=".Product3_Activity" />
        <activity android:name=".Product4_Activity" />
        <activity android:name=".Product5_Activity" />
        <activity android:name=".Product6_Activity"></activity>
    </application>

</manifest>